.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 6rem;
}

.label {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  margin: 10px;
}

.input {
  min-width: 20em;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.wrapForm {
   
  justify-content: "center";
  width: "95%";
  margin-left: auto;
 
}

.wrapText {
  width: "100%";
}

.container {
  display: "flex";
  align-content: flex-end;
}