
.navbar {
    padding: 10px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    margin-right: 20px;
}

.button:hover {
    color: red;
}

.mainDiv {
    font-family: "Arial";
}

.drawer {
    width: 250;
    padding: 20px;
}

.rightIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marginRight {
    margin-right: 20px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
.box:first-child > span { margin-right: auto; }

.box:last-child  > span { margin-left: auto;  }

.combo {
    margin-right: 20px;
    color: white;    
}

.combo:hover {
    color: red;
}