.form {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-top: 0.4em;
}

.combo {
    margin-top: 20px;
    margin-bottom: 10px;;
    width: 50%;
}