.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.container h1 {
  text-align: center;
  margin: 1em 0 1em 0;
}

.container textarea {
    resize: none;
    margin: 1em 0 1em 0;
  }