.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: stretch;
}

.container h1 {
  text-align: center;
  margin: 1em 0 1em 0;
}

.container textarea {
  resize: none;
  margin: 1em 0 1em 0;
}

.container .error {
  background-color: antiquewhite;
}

.container button {
  border-radius: 5px;
  border: solid 1px black;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.container .image {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}