.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 6rem;
}

.icon {
  position: absolute;
  top: 6.6em;
  right: 6.5em;
}

.h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 24px;
}

.bigButton {
  border-radius: 10px;
  border: solid 1px black;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.bigButton:hover {
  border: solid 2px rgba(0, 0, 255, 0.2);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
}

.bigButtonChat {
  background-color: red;
}

.bigButtonTranscribe {
  background-color: violet;
}

.bigButtonGenerate {
  background-color: green;
}
